/* CSS for regular web page */
body {
  width: 90%;
  margin: auto;
}

header {
  background: #5f6366;
  overflow: auto;
  padding: 0.75em;
  width: 100%;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  color: white;
}

p {
  color: white;
  font-size: 150%;
}

.website, .email {
  color: white;
  font-size: 150%;
}

img {
  max-width: 100%;
  height: auto;
  box-align: center;
  border: dashed; 
  border-color: white;
}

header ul li {
  display: inline-block;
}

header ul li a {
  display: inline-block;
  width: auto;
  text-align: center;
  text-decoration: none;
  background: #edb5bf;
  padding: 0.5em 0.75em;
  margin: 0.6em;
  color: white;
}

header a:hover,
header a:focus {
  background: #9d4ede;
  color: white;
}

section article p {
  padding: 1em;
}

section {
  background-color: #99ced3;
  width: 100%;
  padding: 0.5em;
  overflow: hidden;
  color: #5f6366;
}

section aside {
  box-sizing: border-box;
  float: left;
  width: 60%;
}

section aside {
  width: 40%;
  float: left;
  padding: 1em;
  box-sizing: border-box;
}

footer {
  text-align: center;
  color: white;
  background-color: #86b3d1;
  padding: 0.25em;
  width: 100%;
}

/* CSS for two column sections */

.row, .column {
  box-sizing: border-box;
}

.row:after {
  display: table;
  clear: both;
  height: auto; 
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; 
}

/* CSS for the media screen */

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
  #wrapper {
    width: auto;
  }
  main {
    margin-left: 0;
  }
  nav {
    width: auto;
  }
  nav li {
    padding: 0.5em;
  }
  nav ul {
    text-align: center;
  }
  nav a {
    border-style: groove;
  }
  h1, h2 {
    font-size: 100%;
  }
  p {
    font-size: 90%;
  }
  section {
    background-color: #99ced3;
  }
}